# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Distribution / packaging
.dist/
dist/
build/
*.egg-info/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
